# Dependencies
node_modules/

# Production
dist/
storybook-static/
react/

# ensure that the react folder inside src is included
!src/react/

# Tests
test-webview
test-webview-react
.vscode-test-web/

# Misc
.DS_Store
.vscode
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache
coverage/
.npmrc

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
temp
