# Source files
src/

# Docs
docs/
CODE_OF_CONDUCT.md

# Tests
*.spec.*
coverage/

# Builds
storybook-static/

# Config files
.vscode
.github
.eslintrc.js
.eslintignore
.prettierrc
.prettierignore
.storybook
babel.config.js
tsconfig.json
tsconfig.build.json
webpack.config.js
policheck
azure-pipelines.yml