{
	"printWidth": 80,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"quoteProps": "consistent",
	"jsxSingleQuote": false,
	"trailingComma": "es5",
	"bracketSpacing": false,
	"jsxBracketSameLine": true,
	"arrowParens": "avoid",
	"overrides": [
		{
			"files": "tokensToAttributes.ts",
			"options": {
				"printWidth": 100
			}
		}
	]
}
